.main {
    top:0;
    left:0;
    padding:0;
    background-color: #dbe9f4;
    
    width: 100vw;
    height:100vh;
    position: absolute;
  }
  
  .form {
    background-color: white;
    border: 2px solid rgba(157, 157, 218, 0.623);
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    overflow: hidden;
  }
  .innerFormContainer{
    height:70vh;
    width: 27vw;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color:#811453;
  }
  .heading {
    font-weight: 800;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
  }
  
  .field {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:auto;
    background-color: rgba(180, 177, 177, 0.137);
  }
  
  .button {
    width: 10vw;
    display: block;
    color: #811453;
    background-color: #811453;
  }

  .link{
    color:#811453;
    text-decoration: none;
  }
  .image {
    width: 23vw;
    height: 71vh;
  }
  .buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20vw;
  }
  @media only screen and (max-width:400px) {
    .form {
      border: none;
      width:90vw;
      height:600px;
      display: flex;
      flex-direction: column;
      position: fixed; 
    }
    .field {
      width: 60vw;
    }
    .innerFormContainer{
      height:600px
    }
    .heading {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #811453;
      width:max-content;
    }
    .button {
      width: 40vw;
    }
    .imageContainer{
      display: none;
    }
    .buttonContainer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40vw;
      height:14vh;
    }
  }